################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TimeshareExchangeAPI/FileContentIndex/0ee29dbb-2b7e-4bbf-b0a0-45a18c2b9afd.vsidx
/.vs/TimeshareExchangeAPI/FileContentIndex/36695a51-b473-4674-8d70-ba8231bd46de.vsidx
/.vs/TimeshareExchangeAPI/FileContentIndex/75437038-ad58-48d4-b59d-ce34535e124f.vsidx
/.vs/TimeshareExchangeAPI/FileContentIndex/ca99c58a-f443-42d3-bca2-813b71452bd3.vsidx
/.vs/TimeshareExchangeAPI/FileContentIndex/83986b07-df8d-4db3-9828-b9f228794702.vsidx
/.vs/TimeshareExchangeAPI/FileContentIndex/642b8c99-dbc0-492f-9812-c3b7ad7269b2.vsidx
/.vs/TimeshareExchangeAPI/FileContentIndex/c1c481eb-e45e-4c6e-8616-b7710edc331b.vsidx
/.vs/TimeshareExchangeAPI/FileContentIndex/daab61fa-c6f2-4c67-9e4d-6310786abb48.vsidx
/.vs/TimeshareExchangeAPI/FileContentIndex/6e9db828-5ce9-4d39-ae2d-556d4a0499f4.vsidx
/.vs/TimeshareExchangeAPI/FileContentIndex/79c74458-8c7a-41a1-abed-67e231245a51.vsidx
/.vs/TimeshareExchangeAPI/FileContentIndex/d95bbd15-8fe3-4f51-87df-c7a8677e6c25.vsidx
/.vs/TimeshareExchangeAPI/FileContentIndex/9b94010f-7107-4634-802e-57b58ae5f6da.vsidx
/.vs/TimeshareExchangeAPI/FileContentIndex/3edd6195-84f0-4436-b38e-8451911cfd57.vsidx
/.vs/TimeshareExchangeAPI/FileContentIndex/7ebd492c-f771-4b48-bcc4-f72e8572c6a5.vsidx
/.vs/TimeshareExchangeAPI/FileContentIndex/af1d2fa3-530d-47e9-8ca8-ee8f4ceb8b36.vsidx
/.vs/TimeshareExchangeAPI/FileContentIndex/b7e85f77-86a7-4541-9945-286793cffabf.vsidx
/.vs/TimeshareExchangeAPI/FileContentIndex/f5a3bb37-066f-4896-8720-3694ce1bcf28.vsidx
/.vs/TimeshareExchangeAPI/FileContentIndex/08701747-2014-49e6-8618-31d909225d74.vsidx
/.vs/TimeshareExchangeAPI/FileContentIndex/18685587-af53-445f-982d-3d2d031ca3ca.vsidx
/.vs/TimeshareExchangeAPI/FileContentIndex/42577fbd-0cc4-48a7-9d7b-630729a4cfdd.vsidx
/.vs/TimeshareExchangeAPI/FileContentIndex/9cbf9d49-6518-4f58-ab4e-a1bc82ae0bb9.vsidx
/.vs/TimeshareExchangeAPI/FileContentIndex/d826bd1f-b16d-4906-944c-78951ac71a51.vsidx
/.vs/TimeshareExchangeAPI/FileContentIndex/2dfffda1-da8c-4e69-bb3e-8bab0ccd40ad.vsidx
/.vs/TimeshareExchangeAPI/FileContentIndex/32861ea8-d635-4726-87f2-ac8e4dbc015c.vsidx
/.vs/TimeshareExchangeAPI/FileContentIndex/9fdda66b-a3e1-424e-ae99-99f84ec3249a.vsidx
/.vs/TimeshareExchangeAPI/FileContentIndex/a7603770-2591-4e6c-930d-3a4a65eeac56.vsidx
/.vs/TimeshareExchangeAPI/FileContentIndex/dc7409c1-4325-4b14-b6ad-c97a8f987570.vsidx
