################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TimeshareExchangeAPI/FileContentIndex/0ee29dbb-2b7e-4bbf-b0a0-45a18c2b9afd.vsidx
/.vs/TimeshareExchangeAPI/FileContentIndex/36695a51-b473-4674-8d70-ba8231bd46de.vsidx
