USE [master]
GO
/****** Object:  Database [TimeshareAPI]    Script Date: 3/9/2024 11:12:12 PM ******/
CREATE DATABASE [TimeshareAPI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TimeshareAPI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TimeshareAPI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TimeshareAPI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TimeshareAPI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TimeshareAPI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TimeshareAPI]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/9/2024 11:12:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [nvarchar](50) NOT NULL,
	[fullName] [nvarchar](50) NULL,
	[sex] [bit] NULL,
	[address] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[status] [bit] NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[isPremium] [bit] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 3/9/2024 11:12:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[id] [nvarchar](50) NOT NULL,
	[timeshareID] [nvarchar](50) NULL,
	[start_day] [datetime] NULL,
	[end_day] [datetime] NULL,
	[memberID] [nvarchar](50) NULL,
	[amount] [int] NULL,
	[adult] [int] NULL,
	[children] [int] NULL,
	[room] [int] NULL,
	[status] [nvarchar](50) NULL,
	[create_day] [datetime] NULL,
	[phone] [nvarchar](50) NULL,
	[fullName] [nvarchar](50) NULL,
	[paymentID] [nvarchar](50) NULL,
 CONSTRAINT [PK_Booking] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exchange]    Script Date: 3/9/2024 11:12:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exchange](
	[Id] [nvarchar](50) NOT NULL,
	[memberID1] [nvarchar](50) NOT NULL,
	[memberID2] [nvarchar](50) NOT NULL,
	[timeshareID1] [nvarchar](50) NOT NULL,
	[timeshareID2] [nvarchar](50) NOT NULL,
	[start_day] [datetime] NULL,
	[end_day] [datetime] NULL,
	[exchange_day] [datetime] NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_Exchange] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 3/9/2024 11:12:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[memberID] [nvarchar](50) NOT NULL,
	[id] [nvarchar](50) NOT NULL,
	[text] [nvarchar](50) NULL,
	[rate] [int] NULL,
	[realestateID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 3/9/2024 11:12:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [nvarchar](50) NOT NULL,
	[Amount] [decimal](20, 2) NULL,
	[PaymentDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[MemberId] [nvarchar](50) NULL,
	[BookingId] [nvarchar](50) NULL,
	[type] [nvarchar](50) NULL,
	[payoutRequestID] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayoutRequest]    Script Date: 3/9/2024 11:12:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayoutRequest](
	[id] [nvarchar](50) NOT NULL,
	[memberid] [nvarchar](50) NULL,
	[amount] [nvarchar](50) NULL,
	[createAt] [datetime] NULL,
	[paypalD] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_payoutRequest] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Realestate]    Script Date: 3/9/2024 11:12:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Realestate](
	[id] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NULL,
	[location] [nvarchar](50) NULL,
	[facility] [nvarchar](50) NULL,
	[feedbackId] [nvarchar](50) NULL,
	[photo] [nvarchar](500) NULL,
	[status] [nvarchar](50) NULL,
	[price] [decimal](18, 0) NULL,
	[description] [nvarchar](50) NULL,
	[memberId] [nvarchar](50) NOT NULL,
	[create_day] [datetime] NULL,
 CONSTRAINT [PK_Realestate] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timeshare]    Script Date: 3/9/2024 11:12:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timeshare](
	[ID] [nvarchar](50) NOT NULL,
	[realestateID] [nvarchar](50) NOT NULL,
	[memberID] [nvarchar](50) NOT NULL,
	[start_day] [datetime] NULL,
	[end_day] [datetime] NULL,
	[status] [nvarchar](50) NULL,
	[create_day] [datetime] NULL,
	[price] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Timeshare] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 3/9/2024 11:12:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[id] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NULL,
	[amount] [int] NULL,
	[type] [nvarchar](50) NULL,
	[end_day] [datetime] NULL,
	[start_day] [datetime] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Voucher] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([Id], [fullName], [sex], [address], [phone], [status], [username], [password], [isPremium]) VALUES (N'138e4c88-384e-4b71-b81a-80058cdfd554', N'Trương Sỹ Quảng', 1, N'Hồ Chí Minh', N'0888509298', 1, N'meokool2', N'123', 0)
INSERT [dbo].[Account] ([Id], [fullName], [sex], [address], [phone], [status], [username], [password], [isPremium]) VALUES (N'1ac005a2-6d51-4a25-8b71-8cbc42e22a43', N'Trương Sỹ Quảng', 1, N'Hồ Chí Minh', N'0888509298', 1, N'meokool1', N'123', 0)
INSERT [dbo].[Account] ([Id], [fullName], [sex], [address], [phone], [status], [username], [password], [isPremium]) VALUES (N'2a4e05de-e62e-4298-ba89-a8e4082ee861', N'Tong Truong Thanh', 1, N'Long Thanh My, Thu Duc, TP HCM', N'0967992202', 1, N'truongthanh002', N'123', 0)
GO
INSERT [dbo].[Booking] ([id], [timeshareID], [start_day], [end_day], [memberID], [amount], [adult], [children], [room], [status], [create_day], [phone], [fullName], [paymentID]) VALUES (N'0131455c-ee0c-42de-a2a8-7e2da07684fc', N'c6b6078c-354e-49f7-bacc-53951306b9f6', CAST(N'2024-03-14T00:00:00.000' AS DateTime), CAST(N'2024-03-13T00:00:00.000' AS DateTime), N'ecc56a9d-feff-47dd-9e87-61b86f5bdebb', 300000, 3, 1, NULL, N'1', CAST(N'2024-03-08T08:32:58.697' AS DateTime), N'123', N'Truong Sy Wang', NULL)
INSERT [dbo].[Booking] ([id], [timeshareID], [start_day], [end_day], [memberID], [amount], [adult], [children], [room], [status], [create_day], [phone], [fullName], [paymentID]) VALUES (N'05068556-8eb7-496d-8cda-5e30f6249650', N'f75f035e-6fe2-4693-9a9d-252becf43d28', CAST(N'2024-03-02T00:00:00.000' AS DateTime), CAST(N'2024-03-23T00:00:00.000' AS DateTime), N'ecc56a9d-feff-47dd-9e87-61b86f5bdebb', 500000, 4, 1, NULL, N'2', CAST(N'2024-03-02T01:45:48.483' AS DateTime), N'0888509298', N'Thanh113', NULL)
INSERT [dbo].[Booking] ([id], [timeshareID], [start_day], [end_day], [memberID], [amount], [adult], [children], [room], [status], [create_day], [phone], [fullName], [paymentID]) VALUES (N'0958d8e3-35db-4f67-b82b-cf775186353e', N'f75f035e-6fe2-4693-9a9d-252becf43d28', CAST(N'2024-03-07T00:00:00.000' AS DateTime), CAST(N'2024-03-21T00:00:00.000' AS DateTime), N'ecc56a9d-feff-47dd-9e87-61b86f5bdebb', 30000, 4, 0, NULL, N'2', CAST(N'2024-03-06T21:53:51.333' AS DateTime), N'3213213', N'QQQQ', NULL)
GO
INSERT [dbo].[Exchange] ([Id], [memberID1], [memberID2], [timeshareID1], [timeshareID2], [start_day], [end_day], [exchange_day], [status]) VALUES (N'000a7473-f838-4b5c-bcac-cdd1e81c8905', N'ecc56a9d-feff-47dd-9e87-61b86f5bdebb', N'138e4c88-384e-4b71-b81a-80058cdfd554', N'ed175aa6-39e5-4f08-a8f2-b280ff33b2be', N'6d2ce909-9d91-4c97-a09c-0385b59f04a2', CAST(N'2024-03-06T03:00:05.990' AS DateTime), CAST(N'2024-03-20T03:00:05.990' AS DateTime), CAST(N'2024-03-05T19:00:53.827' AS DateTime), N'2')
INSERT [dbo].[Exchange] ([Id], [memberID1], [memberID2], [timeshareID1], [timeshareID2], [start_day], [end_day], [exchange_day], [status]) VALUES (N'2994e437-bfc5-49e4-adaf-a03ba8d7e48f', N'ecc56a9d-feff-47dd-9e87-61b86f5bdebb', N'138e4c88-384e-4b71-b81a-80058cdfd554', N'6d2ce909-9d91-4c97-a09c-0385b59f04a2', N'ed175aa6-39e5-4f08-a8f2-b280ff33b2be', CAST(N'2024-03-07T00:00:00.000' AS DateTime), CAST(N'2024-03-16T00:00:00.000' AS DateTime), CAST(N'2024-03-06T07:24:37.780' AS DateTime), N'2')
INSERT [dbo].[Exchange] ([Id], [memberID1], [memberID2], [timeshareID1], [timeshareID2], [start_day], [end_day], [exchange_day], [status]) VALUES (N'3676d81b-b7d7-4d39-aca9-ea53da225b8e', N'ecc56a9d-feff-47dd-9e87-61b86f5bdebb', N'138e4c88-384e-4b71-b81a-80058cdfd554', N'a8ea4125-a781-4b30-9bc3-7684248a05da', N'ed175aa6-39e5-4f08-a8f2-b280ff33b2be', CAST(N'2024-03-06T00:00:00.000' AS DateTime), CAST(N'2024-03-31T00:00:00.000' AS DateTime), CAST(N'2024-03-05T22:23:18.920' AS DateTime), N'2')
GO
INSERT [dbo].[Payments] ([PaymentId], [Amount], [PaymentDate], [Status], [MemberId], [BookingId], [type], [payoutRequestID]) VALUES (N'219dd11d-d37d-4144-aa34-5636483c70a1', CAST(300000.00 AS Decimal(20, 2)), CAST(N'2024-03-07T22:19:11.437' AS DateTime), N'1', N'ecc56a9d-feff-47dd-9e87-61b86f5bdebb', N'9309621e-622a-4050-8139-a27d22482a83', NULL, NULL)
INSERT [dbo].[Payments] ([PaymentId], [Amount], [PaymentDate], [Status], [MemberId], [BookingId], [type], [payoutRequestID]) VALUES (N'3847b7e2-e528-4f29-876a-4473741385eb', CAST(300000.00 AS Decimal(20, 2)), CAST(N'2024-03-08T21:56:06.643' AS DateTime), N'1', N'ecc56a9d-feff-47dd-9e87-61b86f5bdebb', N'a75597e1-7002-4c9a-b46b-829af7edd114', NULL, NULL)
INSERT [dbo].[Payments] ([PaymentId], [Amount], [PaymentDate], [Status], [MemberId], [BookingId], [type], [payoutRequestID]) VALUES (N'9879095f-640a-445c-ada1-a89f03f57772', CAST(300000.00 AS Decimal(20, 2)), CAST(N'2024-03-07T22:20:14.147' AS DateTime), N'1', N'ecc56a9d-feff-47dd-9e87-61b86f5bdebb', N'c65bf672-6600-4a28-b921-147b350290a2', NULL, NULL)
GO
INSERT [dbo].[Realestate] ([id], [name], [location], [facility], [feedbackId], [photo], [status], [price], [description], [memberId], [create_day]) VALUES (N'43226835-d975-4231-bf90-04726499dcb1', NULL, NULL, NULL, NULL, N'Uploads\43226835-d975-4231-bf90-04726499dcb1.jpg,Uploads\43226835-d975-4231-bf90-04726499dcb1_1.jpg', N'1', NULL, NULL, N'ecc56a9d-feff-47dd-9e87-61b86f5bdebb', CAST(N'2024-03-06T09:54:05.753' AS DateTime))
INSERT [dbo].[Realestate] ([id], [name], [location], [facility], [feedbackId], [photo], [status], [price], [description], [memberId], [create_day]) VALUES (N'57b7d563-b084-4005-bce1-51f27fca404e', N'sdfsdfsdf', NULL, NULL, NULL, N'', N'1', NULL, NULL, N'd6203f64-1384-4345-9b6c-f49cc0a8df8e', CAST(N'2024-03-09T06:22:49.213' AS DateTime))
INSERT [dbo].[Realestate] ([id], [name], [location], [facility], [feedbackId], [photo], [status], [price], [description], [memberId], [create_day]) VALUES (N'6d2ce909-9d91-4c97-a09c-0385b59f04a2', N'FPTU_1', N'Hồ Chí Minh', N'Ok', NULL, N'Uploads\6d2ce909-9d91-4c97-a09c-0385b59f04a2.jpg,Uploads\6d2ce909-9d91-4c97-a09c-0385b59f04a2.jpeg,Uploads\6d2ce909-9d91-4c97-a09c-0385b59f04a2_1.jpeg', N'1', CAST(900000 AS Decimal(18, 0)), N'Ok', N'ecc56a9d-feff-47dd-9e87-61b86f5bdebb', CAST(N'2024-03-01T23:42:58.390' AS DateTime))
GO
INSERT [dbo].[Timeshare] ([ID], [realestateID], [memberID], [start_day], [end_day], [status], [create_day], [price]) VALUES (N'1bfa10a3-69af-4d2c-ab37-cae0df25be8b', N'd7934dab-5fcb-41eb-8089-da734a6f52bb', N'ecc56a9d-feff-47dd-9e87-61b86f5bdebb', CAST(N'2024-03-02T00:00:00.000' AS DateTime), CAST(N'2024-03-30T00:00:00.000' AS DateTime), N'true', CAST(N'2024-03-01T10:24:36.223' AS DateTime), CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[Timeshare] ([ID], [realestateID], [memberID], [start_day], [end_day], [status], [create_day], [price]) VALUES (N'2d55c7ad-b4fe-4a49-b683-730988610926', N'6d2ce909-9d91-4c97-a09c-0385b59f04a2', N'ecc56a9d-feff-47dd-9e87-61b86f5bdebb', CAST(N'2024-03-07T00:00:00.000' AS DateTime), CAST(N'2024-03-15T00:00:00.000' AS DateTime), N'1', CAST(N'2024-03-06T22:09:45.610' AS DateTime), CAST(3000 AS Decimal(18, 0)))
INSERT [dbo].[Timeshare] ([ID], [realestateID], [memberID], [start_day], [end_day], [status], [create_day], [price]) VALUES (N'42b80374-6285-446e-b142-418b2237cf01', N'a8ea4125-a781-4b30-9bc3-7684248a05da', N'ecc56a9d-feff-47dd-9e87-61b86f5bdebb', CAST(N'2024-03-07T00:00:00.000' AS DateTime), CAST(N'2024-03-31T00:00:00.000' AS DateTime), N'2', CAST(N'2024-03-03T08:50:39.173' AS DateTime), CAST(5000000 AS Decimal(18, 0)))
GO
INSERT [dbo].[Voucher] ([id], [name], [amount], [type], [end_day], [start_day], [status]) VALUES (N'17fab8d0-b0f7-4f9f-861a-7770d17035ce', N'TimeShare', 25, N'discount', CAST(N'2024-03-31T00:00:00.000' AS DateTime), CAST(N'2024-03-05T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Voucher] ([id], [name], [amount], [type], [end_day], [start_day], [status]) VALUES (N'45c6edca-c6cb-4d8a-8709-ad9ed1f17098', N'FPT', 10, N'discount', CAST(N'2024-03-28T00:00:00.000' AS DateTime), CAST(N'2024-03-02T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Voucher] ([id], [name], [amount], [type], [end_day], [start_day], [status]) VALUES (N'8ce9d5ae-f7dd-4f9c-9909-adf7976dd576', N'FPT', 20, N'discount', CAST(N'2024-03-24T00:00:00.000' AS DateTime), CAST(N'2024-03-02T00:00:00.000' AS DateTime), 0)
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Account] FOREIGN KEY([memberID])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Account]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Timeshare] FOREIGN KEY([timeshareID])
REFERENCES [dbo].[Timeshare] ([ID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Timeshare]
GO
ALTER TABLE [dbo].[Exchange]  WITH CHECK ADD  CONSTRAINT [FK_Exchange_Account] FOREIGN KEY([memberID1])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Exchange] CHECK CONSTRAINT [FK_Exchange_Account]
GO
ALTER TABLE [dbo].[Exchange]  WITH CHECK ADD  CONSTRAINT [FK_Exchange_Account1] FOREIGN KEY([memberID2])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Exchange] CHECK CONSTRAINT [FK_Exchange_Account1]
GO
ALTER TABLE [dbo].[Exchange]  WITH CHECK ADD  CONSTRAINT [FK_Exchange_Realestate] FOREIGN KEY([timeshareID1])
REFERENCES [dbo].[Realestate] ([id])
GO
ALTER TABLE [dbo].[Exchange] CHECK CONSTRAINT [FK_Exchange_Realestate]
GO
ALTER TABLE [dbo].[Exchange]  WITH CHECK ADD  CONSTRAINT [FK_Exchange_Realestate1] FOREIGN KEY([timeshareID2])
REFERENCES [dbo].[Realestate] ([id])
GO
ALTER TABLE [dbo].[Exchange] CHECK CONSTRAINT [FK_Exchange_Realestate1]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Account] FOREIGN KEY([memberID])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Account]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Account1] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Account1]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Booking] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Booking] ([id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Booking]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_payoutRequest] FOREIGN KEY([payoutRequestID])
REFERENCES [dbo].[PayoutRequest] ([id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_payoutRequest]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_payoutRequest1] FOREIGN KEY([payoutRequestID])
REFERENCES [dbo].[PayoutRequest] ([id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_payoutRequest1]
GO
ALTER TABLE [dbo].[PayoutRequest]  WITH CHECK ADD  CONSTRAINT [FK_payoutRequest_Account] FOREIGN KEY([memberid])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[PayoutRequest] CHECK CONSTRAINT [FK_payoutRequest_Account]
GO
ALTER TABLE [dbo].[Realestate]  WITH CHECK ADD  CONSTRAINT [FK_Realestate_Feedback] FOREIGN KEY([feedbackId])
REFERENCES [dbo].[Feedback] ([id])
GO
ALTER TABLE [dbo].[Realestate] CHECK CONSTRAINT [FK_Realestate_Feedback]
GO
ALTER TABLE [dbo].[Timeshare]  WITH CHECK ADD  CONSTRAINT [FK_Timeshare_Account] FOREIGN KEY([memberID])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Timeshare] CHECK CONSTRAINT [FK_Timeshare_Account]
GO
ALTER TABLE [dbo].[Timeshare]  WITH CHECK ADD  CONSTRAINT [FK_Timeshare_Realestate] FOREIGN KEY([realestateID])
REFERENCES [dbo].[Realestate] ([id])
GO
ALTER TABLE [dbo].[Timeshare] CHECK CONSTRAINT [FK_Timeshare_Realestate]
GO
USE [master]
GO
